<!-- ion-view here is a directive (just an insight) -->
<ion-view title="'Grr'">
    <ion-content has-header="true" has-tabs="true" padding="true">
        
    	<button class="button button-block button-energized" >
    		{{user.attributes.leavingMsg}}
    	</button>	

    	<button class="button button-block button-assertive" ng-click="here()">
    		{{user.attributes.hereMsg}}
    	</button>
        <button class="button button-full button-energized" ng-repeat="friend in friends">
            {{friend.attributes.username}}
        </button>   
    	<div class='row'>
    		<div class="col col-80">
    		</div>
    		<div class="col col-20">
    			<button class="button icon ion-gear-a" ng-click='toggleMenu()'></button>
			</div>
		</div>

	</ion-content>

</ion-view>