<!-- ion-view here is a directive (just an insight) -->
<ion-view title="'Aqui'" right-buttons="rightButtons">
    <ion-content has-header="true" has-tabs="true" padding="true">
        
    	<button class="button button-block button-energized">
    		{{user.attributes.leavingMsg}}
    	</button>	

    	<button class="button button-block button-assertive">
    		{{user.attributes.hereMsg}}
    	</button>

    	<button class="button button-stable">
  			Edit Messages
		</button>
	</ion-content>
</ion-view>
